body {
  background-color: rgb(160, 255, 231);
}

h1 {

}

p {

}

a {
  color: rgb(63, 81, 109);
}

.title {
  padding: 30px 80px;
}

.navigation{
  padding: 10px 80px;
  background-color: rgb(0, 153, 255);
}