

h1 {
 text-align: center;
}

.paragraph {
 text-align: center;
 background-color: lightblue;
 font-size: 30px;
}

a {
  color: white;
}

.title {
  padding: 30px 80px;
  color: 
}

.navigation{
  padding: 10px 80px;
  background-color: rgb(0, 153, 255);
}

.photo1 {
  text-align: center;
}